.loader {
    position: relative;
    width: 3rem;
    aspect-ratio: 1;
    position: relative;
}

.loader span {
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-color: #fff;
}

.loader span:nth-child(1) {
    transform: translate(-120%, 110%);
    transform-origin: right;
    animation-name: grow1;
}

.loader span:nth-child(2) {
    transform: translate(20%, 110%);
    transform-origin: left;
    animation-name: grow2;
}

.loader span:nth-child(3) {
    transform: translate(-50%, 0%);
    transform-origin: bottom;
    animation-name: grow3;
}

@keyframes grow1 {
    16.67% {
        transform: translate(-120%, 110%) scale(1.2);
    }

    33.33%,
    100% {
        transform: translate(-120%, 110%) scale(1);
    }
}

@keyframes grow2 {
    66.67% {
        transform: translate(20%, 110%) scale(1);
    }

    83.33% {
        transform: translate(20%, 110%) scale(1.2);
    }

    100% {
        transform: translate(20%, 110%) scale(1);
    }
}

@keyframes grow3 {
    33.33% {
        transform: translate(-50%, 0%) scale(1);
    }

    50% {
        transform: translate(-50%, 0%) scale(1.2);
    }

    66.67%,
    100% {
        transform: translate(-50%, 0%) scale(1);
    }
}