.loader {
    width: 3rem;
    aspect-ratio: 1;
    position: relative;
}

.loader span {
    position: absolute;
    width: 1rem;
    aspect-ratio: 1;
    background-color: #fff;
    border-radius: .1rem;
}

.loader span:nth-child(1) {
    left: 0;
    top: 0;
    transform: translate(45%, 45%);
    animation: rectangle1 2s ease-in-out infinite;
    transform-origin: right bottom;
}

.loader span:nth-child(2) {
    right: 0;
    top: 0;
    transform: translate(-45%, 45%);
    animation: rectangle2 2s ease-in-out infinite;
    transform-origin: left bottom;
}

.loader span:nth-child(3) {
    left: 0;
    bottom: 0;
    transform: translate(45%, -45%);
    animation: rectangle3 2s ease-in-out infinite;
    transform-origin: right top;
}

.loader span:nth-child(4) {
    right: 0;
    bottom: 0;
    transform: translate(-45%, -45%);
    animation: rectangle4 2s ease-in-out infinite;
    transform-origin: left top;
}

@keyframes rectangle1 {
    12.5% {
        transform: translate(45%, 45%) scale(1.3);
    }

    25% {
        transform: translate(45%, 45%) scale(1);
    }
}

@keyframes rectangle2 {
    25% {
        transform: translate(-45%, 45%) scale(1);
    }

    37.5% {
        transform: translate(-45%, 45%) scale(1.3);
    }

    50% {
        transform: translate(-45%, 45%) scale(1);
    }
}

@keyframes rectangle3 {
    50% {
        transform: translate(45%, -45%) scale(1);
    }

    62.5% {
        transform: translate(45%, -45%) scale(1.3);
    }

    75% {
        transform: translate(45%, -45%) scale(1);
    }
}

@keyframes rectangle4 {
    75% {
        transform: translate(-45%, -45%) scale(1);
    }

    87.5% {
        transform: translate(-45%, -45%) scale(1.3);
    }

    100% {
        transform: translate(-45%, -45%) scale(1);
    }
}