.loader {
    aspect-ratio: 1;
    background-color: #fff;
    border-radius: 50%;
    animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {

    0%,
    100% {
        width: 1rem;
    }

    50% {
        width: 2rem;
    }
}