.loader {
    position: relative;
    width: 2rem;
    aspect-ratio: 1;
    background-color: aliceblue;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
}

.loader span {
    position: absolute;
    width: .6rem;
    aspect-ratio: 1;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(-100%);
    background-color: red;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}