.loader {
    width: 6rem;
    position: relative;
}

.loader span {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #fff;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    opacity: 0;
    animation: slide 1s linear infinite;
}

.loader span:nth-child(2) {
    animation-delay: .2s;
}

.loader span:nth-child(3) {
    animation-delay: .4s;
}

.loader span:nth-child(4) {
    animation-delay: .6s;
}

.loader span:nth-child(5) {
    animation-delay: .8s;
}

.loader span:nth-child(6) {
    animation-delay: 1s;
}

@keyframes slide {
    50% {
        left: 100%;
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    1%,
    100% {
        opacity: 1;
    }
}