.loader {
    width: 0rem;
    aspect-ratio: 1;
    outline-width: 0;
    outline-color: #fff;
    outline-style: solid;
    outline-offset: -.2rem;
    opacity: 0;
    animation: loader .6s linear infinite;
}

@keyframes loader {
    to {
        opacity: 1;
        width: 2rem;
        outline-width: .2rem;
    }
}