.loader {
    width: 3.5rem;
    aspect-ratio: 1;
    position: relative;
}

.rectangle1,
.rectangle2 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    border: .2rem solid red;
    animation: rotateLeft 2s linear infinite;
}

.rectangle2 {
    border: .2rem solid #fff;
    animation: rotateRight 2s linear infinite;
}

@keyframes rotateLeft {
    to {
        transform: rotate(-360deg);
    }
}

@keyframes rotateRight {
    to {
        transform: rotate(360deg);
    }
}