.loader {
    width: 2.5rem;
    aspect-ratio: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.loader span {
    width: .6rem;
    height: 10%;
    background-color: #fff;
    border-top-left-radius: .1rem;
    border-top-right-radius: .1rem;
    animation: grow .5s ease-in-out infinite;
}

@keyframes grow {
    50% {
        height: 100%;
    }
}